<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Carrito de Compras</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cart.items}">
            <td th:text="${item.product.name}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.product.price * item.quantity}"></td>
        </tr>
        </tbody>
    </table>
    <h3>Total: <span th:text="${total}"></span></h3>
    <a class="btn btn-primary" th:href="@{/products}">Ver Productos</a>
</div>
</body>
</html>
